<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../../assets/stylesheets/welcome.css" type="text/css" >






</head>

<body>

	
	<h1> WELCOME </h1>
	<%= link_to "facebook", "/auth/facebook" %>

	<p class ="test">  does this work</p>

</body>
</html>